.capabilities {
  width: 320px;
  margin: 0 auto;
  color: @dark-blue;
  background-color: @global-white;
  text-align: center;
}
@media (min-width: @tablet) {
  .capabilities {
     width: 660px;
   }

   .capabilities__wrapper {
     width: 660px;
     display: flex;
     align-items: flex-start;
   }

   .capabilities__block {
     width: 310px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     margin-left: auto;
   }
}

@media (min-width: @desktop) {
  .capabilities {
     width: 940px;
   }
   .capabilities__wrapper {
     width: 940px;
     flex-direction: row;
   }
   .capabilities__block {
     width: 940px;
     display: flex;
     flex-direction: row;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-left: 0;
   }
}
.capabilities__wrapper {
  background-color: @light-gray;
}
.capabilities__block {
  position: relative;
  background-color: @light-gray;
}

.capabilities__list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

.capabilities__block::after {
  content: "";
  display: block;
  bottom: 0;
  width: 157px;
  height: 277px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.capabilities__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 200;
}

.capabilities__description {
  font-size: 14px;
  line-height: 24px;
}
