.capabilities {
  color: @dark-blue;
  background-color: @global-white;
  text-align: center;
}
.capabilities__block {
  position: relative;
  background-color: @light-gray;
}
.capabilities__list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.capabilities__list::after {
  content: "";
  display: block;
  bottom: 0;
  width: 157px;
  height: 277px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.capabilities__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 200;
}
.capabilities__description {
  font-size: 14px;
  line-height: 24px;
}
