.catalog {
  background-color: @global-white;
  color: @dark-blue;
  font-size: 14px;
  line-height: 30px;
}

.catalog__header {
  background-color: @global-white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.catalog__slogan {
  color: @global-white;
  display: block;
  font-size: 24px;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  width: 320px;
}

.catalog__slogan--inner {
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
  font-weight: 400;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  background-color: @light-gray;
  margin: 0 20px;
  padding: 0;
}

.catalog__info-page {
  background-color: @light-gray;
  margin: 0 20px;
  padding: 0;
}

.catalog__item--panorama {
  margin: 0;
}

.catalog__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
}

.catalog__description--time {
  font-size: 12px;
  line-height: 24px;
  color: @dark-blue;
}

.user-photo__like-btn {
  font-size: 12px;
  line-height: 24px;
  color: @light-red;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.user-photo__like-count {
  font-size: 12px;
  line-height: 24px;
  color: @light-red;
  text-transform: uppercase;
}

.catalog__like-quantity {
  font-size: 12px;
  line-height: 24px;
  color: @light-red;
  text-transform: uppercase;
}
