.catalog {
  background-color: @global-white;
  color: @dark-blue;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: @tablet) {
  .catalog {
    width: auto;
  }

  .catalog__wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (min-width: @desktop) {
  .catalog__wrapper {
    width: 940px;
    padding: 0 10px;
  }
}

.catalog__header {
  background-color: @global-white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
@media (min-width: @tablet) {
  .catalog__header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

.catalog__slogan {
  color: @global-white;
  display: block;
  font-size: 24px;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  padding: 100px 20px;
}
@media (min-width: @tablet) {
  .catalog__slogan {
    font-size: 50px;
    line-height: 50px;
    padding-top: 190px;
    padding-bottom: 150px;
    width: 375px;
  }
}

.catalog__slogan--inner {
  display: block;
  padding: 50px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
  font-weight: 400;
  margin: 0 auto;
}
@media (min-width: @tablet) {
  .catalog__slogan--inner {
    padding: 100px 90px;
  }
}
@media (min-width: @desktop) {
  .catalog__slogan--inner {
    width: 490px;
  }
}

.catalog__list {
  list-style: none;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet) {
  .catalog__list {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop) {
  .catalog__list {
    width: 940px;
  }
}

.catalog__item {
  background-color: @light-gray;
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 0;
}

.catalog__info-page {
  background-color: @light-gray;
  padding: 0;
}

.catalog__item--panorama {
  margin: 0 20px;
  background-color: @global-white;
}

@media (min-width: @tablet) {
  .catalog__item {
    width: 300px;
    margin: 0;
    margin-bottom: 20px;
  }
  .catalog__panorama {
    width: 100%;
  }
  .catalog__item--panorama {
    width: 100%;
  }
  .catalog__item--image {
      width: 100%;
      display: block;
  }
}

.catalog__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
}

.catalog__description--time {
  font-size: 12px;
  line-height: 24px;
  color: @dark-blue;
}

.user-photo__like-btn {
  font-size: 12px;
  line-height: 24px;
  color: @light-red;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.user-photo__like-count {
  font-size: 12px;
  line-height: 24px;
  color: @light-red;
  text-transform: uppercase;
}

.catalog__like-quantity {
  font-size: 12px;
  line-height: 24px;
  color: @light-red;
  text-transform: uppercase;
}
