.comments {
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
  text-align: center;
}
.comments__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comments__title {
  font-size: 18px;
  line-height: 30px;
  color: @total-black;
}
.comments__item {
  display: none;
}
.comments__item:nth-child(1) {
  display: block;
}
.comments__wrapper {
  position: relative;
}
.comments__toggles {
  position: relative;
}
.slider__toggle {
  width: 13px;
  height: 13px;
  font-size: 0;
  background-color: red;
  border: 0;
  cursor: pointer;
}
