.page-footer {
  margin-top: 60px;
  font-size: 14px;
  line-height: 18px;
  color: @dark-blue;
}
.page-footer__logo:hover path,
.page-footer__logo:focus path {
  fill: @light-red;
}
.page-footer__logo:active {
  opacity: 0.3;
}
.social__list {
  list-style: none;
  display: flex;
  width: 180px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: @global-white;
  border: 3px solid rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  fill: @light-red;
}
.social__link:hover,
.social__link:focus {
  border: 3px solid @dark-blue;
}
.social__link:active {
  opacity: 0.3
}
.copyright__link {
  width: 28px;
  height: 35px;
  fill: @light-red;
}
.copyright__link:hover,
.copyright__link:focus {
  fill: @dark-blue;
}
.copyright__link:active {
  opacity: 0.3
}
