form {
  background-color: @global-white;
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
}

.form__header {
  background-color: @global-white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.form__heading {
  display: block;
  font-size: 24px;
  color: @global-white;
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
  width: 320px;
}

.form__text {
  display: block;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  padding: 50px 0;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  color: @light-red;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-top: 40px;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__label {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 21px;
  padding-right: 21px;
  box-sizing: border-box;
}

.form__option {
  width: 300px;
}

.form__input {
  border: 2px solid #e5e5e5;
}

.form__option--name {
  padding-bottom: 26px;
}

.form__label--name {
  font-size: 14px;
  line-height: 30px;
  color: @light-red;
  text-transform: uppercase;
}

.form__input--name {
  font-size: 18px;
  line-height: 30px;
}

.form__fieldset--checkbox {
  background-color: @light-gray;
}

.form__legend--checkbox {
  font-size: 14px;
  line-height: 18px;
}

.form__option--checkbox {
  padding-bottom: 60px;
}

.form__option--checkbox:last-child {
  padding-bottom: 50px;
}

.form__fieldset--data {
  padding: 40px 0;
}

.form__label--data {
  font-size: 14px;
  line-height: 30px;
  color: @light-red;
  text-transform: uppercase;
}

.form__input--data {
  font-size: 18px;
  line-height: 30px;
}

.form__option--data {
  padding-bottom: 26px;
}

.form__fieldset--radio {
  background-color: @light-gray;
}

.form__legend--radio {
  font-size: 14px;
  line-height: 18px;
}

.form__option--radio {
  padding-bottom: 50px;
}

.form__fieldset--emotions {
  padding: 40px 0;
}

.form__label--emotions {
  font-size: 14px;
  line-height: 30px;
  color: @light-red;
  text-transform: uppercase;
}

.form__note {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.form__button {
  display: inline-block;
  padding: 15px 49px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @global-white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: @light-salat;
  border: none;
  border-radius: 2px;
  margin-bottom: 40px;
  font-weight: bold;
}

.form__button:hover,
.form__button:focus {
  background-color: @regular-salat;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.form__note--index {
  color: @light-red;
}

.main-form__error {
  text-align: center;
  background-color: @global-white;
  color: @navy-blue;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.error__title {
  font-size: 18px;
  line-height: 24px;
  color: @total-black;
}

.error__button {
  display: inline-block;
  box-sizing: border-box;
  padding: 17px 126px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @global-white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: @light-salat;
  border: none;
  margin-bottom: 40px;
  font-weight: bold;
}

.error__button:hover,
.error__button:focus {
  background-color: @regular-salat;
}

.error__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-form__success {
  text-align: center;
  background-color: @global-white;
  color: @navy-blue;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.success__title {
  font-size: 18px;
  line-height: 24px;
  color: @total-black;
}

.success__button--aria {
  background-color: @light-gray;
}

.success__button {
  display: inline-block;
  box-sizing: border-box;
  margin: 20px 40px 52px;
  margin-bottom: 40px;
  padding: 15px 68px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @global-white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: @light-salat;
  border: none;
  font-weight: bold;
}

.success__button:hover,
.success__button:focus {
  background-color: @regular-salat;
}

.success__button:active {
  color: rgba(255, 255, 255, 0.3);
}
