.page-header {
  background-color: @navy-blue;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;

}

.header__container {
  height: 65px;
  background-color: rgba(29, 39, 50, 0.3);
  padding: 0;
}

.page-header__logo {
  display: block;
  padding: 20px 0;
  padding-left: 20px;
}
@media (max-width: @mobile-only) {

  .header {
    margin-bottom: -75px;
  }

}

@media (min-width: @tablet) {
   .header {
     margin-bottom: -110px;
   }
   .header__wrapper {
     width: 660px;
     padding: 0 20px;
     margin: 0 auto;
   }

   .header__container {
     height: 110px;
   }

  .page-header__logo {
    padding-top: 45px;
  }
}

@media (min-width: @desktop) {

  .header__wrapper {
    margin: 0 auto;
    width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__container {
    width: 150px;
    background-color: transparent;
  }
}

.page-header__logo:hover path,
.page-header__logo:focus path {
  fill: @light-red;
}

.page-header__logo:active path {
  fill: rgba(255, 255, 255, 0.3);
}
