.page-header {
  background-color: @navy-blue;
  display: flex;
  flex-direction: column;
}

.header__container {
  height: 65px;
  background-color: rgba(29, 39, 50, 0.3);
  padding: 0;
}

@media (min-width: @tablet) {
  .header__container {
    height: 110px;
  }
}

@media (min-width: @desktop) {
  .header__container {
    height: 110px;
  }
}

.page-header__logo:hover path,
.page-header__logo:focus path {
  fill: @light-red;
}

.page-header__logo:active path {
  fill: rgba(255, 255, 255, 0.3);
}
