.offer {
  width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  color: @global-white;
  background-color: @navy-blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 258px 286px, cover;
  background-position: bottom left, center;
}
@media (min-width: @tablet) {
  .offer {
    width: 660px;
    display: flex;
    align-items: flex-start;
  }

  .offer__version {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: @desktop) {
  .offer{
    width: 940px;
  }

  .offer__version {
    width: 370px;
  }
}

.offer__download {
  display: block;
  padding-top: 40px;
}

.offer__link {
  display: inline-block;
  min-width: 281px;
  font-family: "Open Sans", "Arial", sans-serif;
  box-sizing: border-box;
  padding: 18px 35px;
  color: @global-white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid @global-white;
  border-radius: 40px;
  margin-top: 28px;
  cursor: pointer;
  text-align: center;
}

.offer__link:hover,
.offer__link:focus {
  color: #d22856;
  background-color: @global-white;
}

.offer__link:active {
  color: rgba(210, 40, 86, 0.3);
}

.offer__version {
  text-align: center;
}

.version__list {
  list-style: none;
  padding: 0;
  padding-top: 30px;
  width: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.version__link {
  color: @global-white;
}
