.page-header {
  background-color: @global-white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 230px;
}
.page--photo .page-header {
  min-height: 235px;
}

.page-header__heading {
  display: block;
  font-size: 24px;
  color: @global-white;
  font-weight: 200;
  padding-top: 250px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.page--form .page-header__heading {
  padding-top: 89px;
}

.page--photo .page-header__heading {
  padding-top: 94px;
  padding-right: 17px;
}

@media (min-width: @tablet) {
  .page-header {
    width: auto;
    min-height: 310px;
  }

  .page-header__heading {
    width: 620px;
    margin: 0 auto;
    font-size: 50px;
    line-height: 59px;
    padding-top: 93px;
    padding-bottom: 80px;
  }

  .page--form .page-header__heading {
    padding-top: 183px;
  }

  .page--photo .page-header__heading {
    padding-top: 172px;
    padding-right: 13px;
    padding-bottom: 138px;
  }
}

@media (min-width: @desktop) {
  .page-header {
    width: auto;
  }

  .page-header__heading {
    width: 820px;
    padding-top: 174px;
    padding-left: 28px;
    padding-bottom: 100px;
  }

  .page--photo .page-header__heading {
   width: 650px;
   padding-top: 173px;
   padding-right: 27px;
   padding-bottom: 103px;
  }
}
