.rates {
  width: 320px;
  margin: 0 auto;
  background-color: @light-gray;
  text-align: center;
}

.rates__header {
  color: @global-white;
  background-color: @dark-blue;
  text-transform: uppercase;
}

.rates__list {
  width: 100%;
}

.rates__name {
  font-size: 18px;
  line-height: 30px;
}

.rates__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 200;
}

.rates__feature {
  background-color: @global-white;
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .rates {
    width: 640px;
  }
  .rates__list {
    display: flex;
    width: 640px;
  }
}

@media (min-width: @desktop) {
  .rates {
    width: 960px;
  }
  .rates__list {
    width: 940px;
  }
}
